body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img{
  width:250px;
  height:300px;
}

.details-position{
  margin-left:250px;
}

.static{
  position:fixed;
  top: 0;
  width: 100%
}

.cart{
  position: absolute;
  right: 100px;
  font-weight: bold;
}

.plus{
  cursor: pointer;
  position: absolute;
  right: 780px;
  font-weight: bold; 
}

.minus{
  cursor: pointer;
  position: absolute;
  left: 345px;
  font-weight: bold; 
}